:root {
    --black: #000000;
    --high-contrast: #222222;
    --white: #ffffff;
    --off-white: #F9F7F4;
    --primary: #EC00C5;
    --primary-gradient: linear-gradient(90deg, #EC00C5 0%, #8706E3 100%);
    --body-font: "proxima-nova", sans-serif;
}
a, button {
    display: inline-block;
    transition: all 0.33s;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-size: 18px;
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.33;
    background-color: var(--black);
    color: var(--off-white);
}
h1 {
    font-size: 84px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 24px;
}
h2, h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}
h3 {
    font-size: 48px;
}
h4 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.17;
}
h5 {
    font-size: 21px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.primary-gradient, h5 {
    display: inline-block;
    background: var(--primary);
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container {
    max-width: 1448px;
    padding: 0 24px;
}
.login-btn {
    font-size: 14px;
    color: var(--off-white);
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.primary-transparent, .primary-solid, .primary-transparent-small, .primary-solid-small {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: var(--primary);
    padding: 10px 24px;
    border: 1px solid var(--primary);
    border-radius: 40px;
}
.primary-transparent, .primary-solid {
    min-width: 190px;
}
.primary-transparent-small, .primary-solid-small {
    padding: 10px 19px;
}
:is(.primary-transparent, .primary-transparent-small):hover, .primary-solid, .primary-solid-small {
    color: var(--white);
    background-color: var(--primary);
}
:is(.primary-solid, .primary-solid-small):hover, .primary-transparent, .primary-transparent-small {
    background-color: transparent;
}
:is(.primary-solid-arrow, .primary-gradient-arrow) {
    padding: 11px 29px;
    background-color: var(--primary);
    color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.primary-gradient-arrow {
    background: var(--primary-gradient);
}
:is(.primary-solid-arrow, .primary-gradient-arrow) > i {
    position: relative;
    top: 1px;
    line-height: 0.75;
    font-size: 20px;
    transition: all 0.33s;
}
:is(.primary-solid-arrow, .primary-gradient-arrow):hover > i {
    transform: rotate(45deg);
    top: 0;
}
.buttons-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* Header Style */
.main-header {
    padding: 24px 0;
    background-color: var(--black);
}
nav.navbar {
    gap: 32px;
    width: 100%;
}
:is(nav.navbar, nav.footer-navbar, .footer-menu) ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    font-weight: 600;
}
nav.navbar ul li a {
    color: var(--off-white);
    padding: 2px;
}
:is(nav.navbar, nav.footer-navbar, .footer-menu) ul li a:hover, .login-btn:hover {
    color: var(--primary);
}

/* Footer Style */
.main-footer {
    padding: 120px 0 250px;
    background-color: var(--black);
    background-image: url(../img/footer-bg.png);
    background-size: cover;
    background-position: bottom center;
}
nav.footer-navbar ul {
    align-items: flex-start;
    max-width: 450px;
    flex-wrap: wrap;
    gap: 8px;
}
nav.footer-navbar ul li {
    flex: 1 1 calc(50% - 4px);
}
nav.footer-navbar ul li a {
    color: var(--off-white);
    padding: 4px 0;
}
.footer-buttons-group{
    column-gap: 20px;
    row-gap: 32px;
}
.footer-menu ul {
    flex-wrap: wrap;
    gap: 16px !important;
    font-size: 13px !important;
}
.footer-menu ul li a {
    color: var(--off-white);
}
.footer-text-box {
    padding: 56px;
    border: 3px solid #333333;
    border-radius: 50px;
}

/* Section Style */
:is(.hero-img, .full-width-banner) img {
    border-radius: 50px;
}
.hero-section {
    padding: 90px 0;
}
.hero-content p {
    margin-bottom: 32px;
}
.full-width-banner {
    padding: 80px 0;
}
.full-width-banner h2 {
    margin-bottom: 80px;
}
.full-width-banner img {
    width: 100%;
}