:root {
    --text: #333333;
    --white: #ffffff;
    --gray: #999999;
    --primary: #4E00A6;
    --secondary: #B40C98;
    --tertiary: #FE5836;
    --primary-gradient: linear-gradient(90deg, #FE6723 0%, #EC00C5 48.5%, #8706E3 100%);
    --secondary-gradient: linear-gradient(86deg, #EC00C5 -3.62%, #8706E3 81.62%);
    --border: 1px solid #CCCCCC;
    --body-font: "Lato", serif;
    --heading-font: "Raleway", serif;
}
a, button {
    display: inline-block;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
    color: var(--primary);
    text-decoration: none;
}
input, textarea {
    line-height: 24px;
    background-color: var(--white);
    padding: 12px 24px;
    outline: none;
    border: var(--border);
    border-radius: 8px;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
}
input:focus {
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.1);
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-size: 16px;
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--white);
    color: var(--text);
    position: relative;
}
h1, h2, h3, h4 {
    font-family: var(--heading-font);
    font-weight: 300;
}
h1 {
    font-size: 60px;
    line-height: 1.07;
    margin-bottom: 16px;
}
h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.17;
    margin-bottom: 0;
}
h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0;
}
h4 {
    font-size: 21px;
    line-height: 1.33;
    font-weight: 400;
    margin-bottom: 24px;
}
h5 {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.33;
    text-transform: uppercase;
    margin-bottom: 32px;
    background: linear-gradient(90deg, #EC00C5 0%, #7206D7 17.48%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h6 {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.33;
    text-transform: uppercase;
}
.primary-gradient {
    display: inline-block;
    background: var(--primary);
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.secondary-gradient {
    background: var(--secondary);
    background: var(--secondary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h6 {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.large {
    font-size: 18px;
    line-height: 1.33;
}
.small {
    font-size: 16px;
    line-height: 1.5;
}
P:last-child {
    margin-bottom: 0;
}
.container {
    max-width: 1448px;
    padding: 0 24px;
}
.link-with-icon {
    font-size: 14px;
    color: var(--primary);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    font-weight: 800;
}
.primary-transparent, .primary-solid, .primary-transparent-small, .primary-solid-small {
    font-size: 14px;
    font-weight: 800;
    line-height: 18px;
    text-align: center;
    color: var(--primary);
    padding: 10px 24px;
    border: 1px solid var(--primary);
    border-radius: 40px;
}
.primary-transparent, .primary-solid {
    min-width: 190px;
}
.primary-transparent-small, .primary-solid-small {
    padding: 10px 19px;
}
:is(.primary-transparent, .primary-transparent-small):hover, .primary-solid, .primary-solid-small {
    color: var(--white);
    background-color: var(--primary);
}
.primary-transparent, .primary-transparent-small {
    background-color: transparent;
}
:is(.primary-solid, .primary-solid-small):hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}
:is(.primary-solid-arrow, .primary-gradient-arrow) {
    padding: 11px 29px;
    background-color: var(--primary);
    color: var(--white);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.primary-gradient-arrow {
    background: var(--primary-gradient);
}
:is(.primary-solid-arrow, .primary-gradient-arrow) > i {
    position: relative;
    top: 1px;
    line-height: 0.75;
    font-size: 20px;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
}
:is(.primary-solid-arrow, .primary-gradient-arrow):hover > i {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
}
.form-submit {
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    background-color: var(--primary);
    color: var(--white);
    padding: 12px 24px;
    border: 1px solid var(--primary);
    border-radius: 8px;
}
.form-submit:hover {
    background-color: transparent;
    color: var(--primary);
}
.buttons-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
}
span.horizontal {
    display: block;
    border-top: 1px solid var(--primary);
}
/* Header Style */
.topbar-section {
    padding: 8px 0;
    background: linear-gradient(90deg, #FE5836 -0.19%, #B40C98 49.9%, #4E00A6 99.99%);
    color: var(--white);
    font-size: 13px;
}
.site-logo .white {
    display: none;
}
.main-header {
    padding: 16px 0;
}
nav.navbar {
    gap: 32px;
    width: 100%;
}
:is(nav.navbar, nav.footer-navbar, .footer-menu) ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
}
nav.navbar ul li a {
    color: var(--text);
    padding: 2px;
    font-size: 15px;
    font-weight: 800;
}
:is(nav.navbar, nav.footer-navbar, .footer-menu) ul li a:hover, .link-with-icon:hover, nav.navbar ul li.current-menu-item > a {
    color: var(--secondary);
}
/* Footer Style */
.main-footer {
    padding: 80px 0 28%;
    background-image: url(../img/footer-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
}
nav.footer-navbar ul {
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
    max-width: 450px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8px;
}
nav.footer-navbar ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 4px);
            flex: 1 1 calc(50% - 4px);
}
nav.footer-navbar ul li a {
    color: var(--text);
    padding: 4px 0;
}
.footer-buttons-group{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 32px;
}
.footer-menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px !important;
    font-size: 13px !important;
}
.footer-menu ul li a {
    color: var(--text);
}
.footer-text-box {
    padding: 56px;
    border: 3px solid var(--primary);
    border-radius: 50px;
}
/* Section Style */
:is(.hero-img, .full-width-banner) img {
    border-radius: 50px;
}
.hero-section {
    padding: 90px 0;
}
.hero-content p {
    margin-bottom: 32px;
    max-width: 600px;
}
.full-width-banner {
    padding: 90px 0 140px;
}
.full-width-banner h2 {
    max-width: 1050px;
    margin-bottom: 54px;
}
.full-width-banner img {
    width: 100%;
}
.full-width-image-with-overlay {
    position: relative;
}
.full-width-image-with-overlay::before, .full-width-image-with-overlay::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-radius: 50px;
}
.full-width-image-with-overlay::before {
    background: url(../img/banner-overlay-vector.png);
    background-position: top 160px center;
    background-size: 100%;
}
.full-width-image-with-overlay.overlay-2::before {
    background: url(../img/banner-overlay-vector-2.png);
    background-position: top 70px center;
}
.full-width-image-with-overlay::after {
    background: var(--primary-gradient);
}
.three-box-section {
    background-color: var(--white);
    color: var(--text);
    padding: 120px 0;
}
.three-box-top {
    margin-bottom: 100px;
}
.three-box-top h2 {
    max-width: 600px;
}
.three-box-content {
    margin-bottom: 150px;
}
.single-box {
    color: var(--white);
    overflow: hidden;
    border-radius: 50px;
}
.single-box > img {
    width: 100%;
}
.single-box-content {
    padding: 32px 48px 40px;
    background: linear-gradient(260deg, #4E00A6 6.5%, #B40C98 55%, #FE5836 100%);
}
.single-box-content h3 {
    line-height: 1;
    margin-bottom: 16px;
}
.single-box-content a {
    line-height: 1;
    color: var(--white);
    font-size: 26px;
}
.single-box-content span {
    font-size: 14px;
    font-weight: 700;
}
.three-box-bottom h2 {
    font-size: 72px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 48px;
}
.three-box-bottom h3 {
    font-family: var(--body-font);
}
.experience-section {
    padding: 120px 0 100px;
}
.experience-content h3 {
    max-width: 600px;
    margin-bottom: 80px;
}
.experience-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 96px;
}
.experience-row > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 12px);
            flex: 1 1 calc(50% - 12px);
}
.experience-column h2 {
    font-size: 72px;
    font-weight: 300;
    margin-bottom: 24px;
    font-family: var(--body-font);
}
.experience-column span.horizontal {
    max-width: 160px;
}
.experience-column p {
    margin-top: 16px;
}
.experience-banner img {
    width: 100%;
    border-radius: 50px;
}
.single-teaser-box {
    min-height: 100%;
    background: linear-gradient(44deg, #FE5836 0%, #B40C98 50%, #4E00A6 100%);
    padding: 56px 86px;
    border-radius: 50px;
    color: var(--white);
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
}
.single-teaser-box h3 {
    font-weight: 300;
    margin-bottom: 8px;
    display: flex;
    align-items: baseline;
    gap: 16px;
}
.single-teaser-box h3 span {
    font-size: 26px;
    display: inline-block;
    line-height: 0.75;
    margin-left: auto;
}
.single-teaser-box p {
    margin-bottom: 36px;
}
.single-teaser-box a.primary-solid-arrow {
    color: var(--primary);
    background-color: var(--white);
}
.bg-vector-1 {
    background: url(../img/section-bg-vector-1.png) no-repeat center top / 100%;
}
.bg-vector-2 {
    background: url(../img/section-bg-vector-2.png) no-repeat bottom center / 100%;
}
.single-teaser-box.solid-bg {
    background: var(--primary);
}
.two-teaser-box {
    padding: 160px 0 0;
}
.banner-top {
    margin-bottom: 48px;
}
.banner-top h2 {
    color: var(--primary);
    max-width: 550px;
}
.distributor-inquiry, .teaser-box-section {
    padding: 110px 0;
}
.multiple-card-section {
    padding: 80px 0 200px;
}
.multiple-card-section h2 {
    max-width: 1060px;
    margin-bottom: 40px;
}
.single-card-content {
    min-height: 100%;
    padding: 60px 80px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50px;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
    font-size: 26px;
}
.single-card-content:hover {
    background: var(--primary-gradient);
}
.distributor-inquiry {
    background-color: var(--white);
    color: var(--text);
}
.distributor-heading {
    text-align: center;
    margin-bottom: 40px;
}
.distributor-heading h3 {
    margin-bottom: 12px;
}
.distributors-inquiry-form {
    padding: 56px 96px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    max-width: 1250px;
    margin: 0 auto;
}
.distributors-inquiry-form p {
    font-size: 14px;
    line-height: 1.6;
}
.inquiry-fields-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 56px;
       -moz-column-gap: 56px;
            column-gap: 56px;
    row-gap: 32px;
}
.inquiry-fields-row > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.form-fields-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
}
.inquiry-fields-column h6 {
    font-size: 21px;
    font-weight: 600;
    text-transform: inherit;
    color: #111111;
    margin-bottom: 20px;
}
.banner-top p:not(.banner-top p:last-child) {
    margin-bottom: 32px;
}
.teaser-box-section {
    background-color: var(--white);
}
.teaser-box-section h2 {
    margin-bottom: 64px;
    max-width: 1200px;
}
.full-width-section {
    padding: 80px 0 140px;
}
.full-width-content h2 {
    margin-bottom: 36px;
}
.full-width-content img {
    width: 100%;
    border-radius: 5px;
}
.contact-section {
    padding: 80px 0;
}
.contact-content {
    max-width: 620px;
}
.contact-content > p {
    margin-bottom: 32px;
}
.contact-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 48px;
    margin-bottom: 48px;
}
.contact-information > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.single-info-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}
.contact-info-icon i {
    font-size: 28px;
}
.contact-info a{
    color: var(--white);
}
.contact-form {
    padding: 48px 64px;
    border: 2px solid #333333;
    border-radius: 50px;
}
.contact-form h3 {
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 32px;
}
.contact-form input {
    border: none;
    padding: 13px 26px;
}
